.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #223043;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-stretch: extra-condensed;
    font-style: normal;
    color: rgb(218, 226, 242);
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}