.app-info {
    padding: 25px;
    background-color: rgb(65, 70, 79);
    border-radius: 8px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-stretch: extra-condensed;
    font-style: normal;
    color:white;
}